<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

</head>
<body>
<p>Properties : {{ properties|length }}</p>

{% for property in properties %}
    <div class="property">
        <h3>OSID:</h3>
        <p data-testid = "osid">{{ property.osid }}</p>
        <h3>Coordinates:</h3>
        <ul>
            {% for coordinate in property.coordinates %}
                <li>{{ coordinate[0] }}, {{ coordinate[1] }}</li>
            {% endfor %}
        </ul>
        <h3>Area in metres squared:</h3>
        <p data-testid="area">{{ property.area_m2 }}</p>
        <h3>Date Last Updated:</h3>
        <p data-testid = "age-last-updated">{{ property.age_last_updated }}</p>
    </div>
{% endfor %}
</body>
</html>