<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

</head>
<body>
<p>Properties : {{ properties|length }}</p>

{% for property in properties %}
    <div class="property" style="border: solid black 1px">
        {% for attribute in property.attributes %}
            {% for key, value in attribute.items() %}
                <h3>{{ key }}</h3>
                <p data-testid = {{ key }}>{{ value }}</p>
                    {% endfor %}
            {% endfor %}

        <h3>Coordinates:</h3>
        <ul>
            {% for coordinates in property.coordinates %}
                {% for key, value in coordinates.items() %}
                <li>{{ value[0] }}, {{ value[1] }}</li>
                    {% endfor %}
            {% endfor %}
        </ul>
        <h3>Area in metres squared:</h3>
        <p data-testid="area">{{ property.area_m2 }}</p>
        <h3>Date Last Updated:</h3>
        <p data-testid = "age-last-updated">{{ property.date_age_last_updated }}</p>
    </div>
{% endfor %}
</body>
</html>